@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* prevents navbar overlap */
}

body {
  font-family: system-ui, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
}

.swiper-wrapper {
  transition: height 0.4s ease-in-out;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #facc15; /* yellow-400 */
}

/* underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #facc15;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* section rhythm */
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}